body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier", monospace;
  background-color: #fff5e4;
  color: #ff9494;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  width: 100%;
  max-width: 400px;
}

label {
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="date"] {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
  font-family: "Courier", monospace;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
  font-family: "Courier", monospace;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
  width: 100%;
  max-width: 300px;
}

.button:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border: 2px solid #ff9494;
}

.hint {
  font-size: 14px;
  color: #e67373;
  margin-top: 10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  .form-group {
    font-size: 18px;
  }

  input[type="date"] {
    font-size: 14px;
    padding: 8px;
  }

  .button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .hint {
    font-size: 12px;
    margin-top: 8px;
  }
}
